# Target build directories
**/target/
**/dist/

# Node modules
**/node_modules/

# WhatsApp session data
**/auth_info/

# Environment & Secret files
**/.env
**/.env.local
**/credentials.json
credentials.json

# Zip files & docs
*.zip
landing_doc/
